.header-wrapper {
  /* background-color: #f003; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  position: relative;

  .header {
    display: flex;
    gap: 72px;

    .logo-container {
      text-align: right;
      font-weight: bold;
      margin: auto 0;

      span {
        color: #ff6000;
      }
    }

    .header-functions {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 0 16px 0;

      .links {
        display: flex;
        gap: 20px;
        align-items: center;

        a {
          color: #7b7b7b;
          text-decoration: none;
          font-size: 11px;
          font-weight: 700;

          span {
            color: #ff6000;
          }
        }
      }

      .other {
        display: flex;

        .search {
          border-radius: 8px;
          position: relative;
          overflow: hidden;

          #accent {
            position: absolute;
            bottom: 0;
            width: 414px;
          }

          .search-icon-wrapper {
            position: absolute;
            z-index: 2;
            height: 52px;
            margin-left: 12px;
            display: flex;

            img {
              width: 18px;
              height: 18px;
              margin: auto 0;
            }
          }

          input {
            width: 418px;
            height: 52px;
            border-radius: 8px;
            border: 1px solid #ff6000;
            padding-left: 42px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.025em;
            text-align: left;
            color: #484848;

            &:focus {
              outline: none;
            }
          }
        }

        .location {
          width: fit-content;
          height: 52px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.025em;
          text-align: left;
          color: #484848;
          margin: 0 0 0 48px;
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 16px;

          &:hover {
            background-color: #e6e6e6;
            cursor: pointer;
          }

          #location-icon {
            width: 24px;
            margin: auto 0;
          }

          .outer-wrapper {
            display: flex;
            flex-direction: column;

            #location-button-title {
              color: #484848;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.14;
              letter-spacing: -0.15px;
            }

            .inner-wrapper {
              display: flex;
              gap: 48px;

              #location-button {
                color: #ff6000;
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: -0.13px;
              }
            }
          }
        }

        .my-account {
          width: fit-content;
          height: 52px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.025em;
          text-align: left;
          color: #484848;
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 16px;
          margin-left: 16px;
          border: 2px solid #919191;

          .outer-wrapper {
            display: flex;
            flex-direction: column;

            #account-button-title {
              color: #484848;
              font-size: 14px;
              font-weight: 600;
              line-height: 1.14;
              letter-spacing: -0.15px;
            }

            .inner-wrapper {
              display: flex;
              gap: 48px;

              #account-button {
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: -0.13px;
              }
            }
          }

          #chevron {
            color: #484848;
          }
        }

        .cart {
          width: fit-content;
          height: 52px;
          border-radius: 8px;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.025em;
          text-align: left;
          background-color: #919191;
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 0 24px;
          margin-left: 16px;
          text-decoration: none;

          #cart-text {
            color: #fff;
            font-size: 15px;
            line-height: 1.2;
            font-weight: 700;
          }
        }
      }
    }
  }

  #bottom-accent {
    position: absolute;
    bottom: -8px;
    width: 100%;
  }
}
