.header-wrapper {
  /* background-color: #f003; */
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  position: relative;
}
.header-wrapper .header {
  display: flex;
  gap: 72px;
}
.header-wrapper .header .logo-container {
  text-align: right;
  font-weight: bold;
  margin: auto 0;
}
.header-wrapper .header .logo-container span {
  color: #ff6000;
}
.header-wrapper .header .header-functions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 16px 0;
}
.header-wrapper .header .header-functions .links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-wrapper .header .header-functions .links a {
  color: #7b7b7b;
  text-decoration: none;
  font-size: 11px;
  font-weight: 700;
}
.header-wrapper .header .header-functions .links a span {
  color: #ff6000;
}
.header-wrapper .header .header-functions .other {
  display: flex;
}
.header-wrapper .header .header-functions .other .search {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.header-wrapper .header .header-functions .other .search #accent {
  position: absolute;
  bottom: 0;
  width: 414px;
}
.header-wrapper .header .header-functions .other .search .search-icon-wrapper {
  position: absolute;
  z-index: 2;
  height: 52px;
  margin-left: 12px;
  display: flex;
}
.header-wrapper .header .header-functions .other .search .search-icon-wrapper img {
  width: 18px;
  height: 18px;
  margin: auto 0;
}
.header-wrapper .header .header-functions .other .search input {
  width: 418px;
  height: 52px;
  border-radius: 8px;
  border: 1px solid #ff6000;
  padding-left: 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #484848;
}
.header-wrapper .header .header-functions .other .search input:focus {
  outline: none;
}
.header-wrapper .header .header-functions .other .location {
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #484848;
  margin: 0 0 0 48px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}
.header-wrapper .header .header-functions .other .location:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.header-wrapper .header .header-functions .other .location #location-icon {
  width: 24px;
  margin: auto 0;
}
.header-wrapper .header .header-functions .other .location .outer-wrapper {
  display: flex;
  flex-direction: column;
}
.header-wrapper .header .header-functions .other .location .outer-wrapper #location-button-title {
  color: #484848;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.15px;
}
.header-wrapper .header .header-functions .other .location .outer-wrapper .inner-wrapper {
  display: flex;
  gap: 48px;
}
.header-wrapper .header .header-functions .other .location .outer-wrapper .inner-wrapper #location-button {
  color: #ff6000;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.13px;
}
.header-wrapper .header .header-functions .other .my-account {
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #484848;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
  margin-left: 16px;
  border: 2px solid #919191;
}
.header-wrapper .header .header-functions .other .my-account .outer-wrapper {
  display: flex;
  flex-direction: column;
}
.header-wrapper .header .header-functions .other .my-account .outer-wrapper #account-button-title {
  color: #484848;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.15px;
}
.header-wrapper .header .header-functions .other .my-account .outer-wrapper .inner-wrapper {
  display: flex;
  gap: 48px;
}
.header-wrapper .header .header-functions .other .my-account .outer-wrapper .inner-wrapper #account-button {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.13px;
}
.header-wrapper .header .header-functions .other .my-account #chevron {
  color: #484848;
}
.header-wrapper .header .header-functions .other .cart {
  width: -moz-fit-content;
  width: fit-content;
  height: 52px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.025em;
  text-align: left;
  background-color: #919191;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 24px;
  margin-left: 16px;
  text-decoration: none;
}
.header-wrapper .header .header-functions .other .cart #cart-text {
  color: #fff;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
}
.header-wrapper #bottom-accent {
  position: absolute;
  bottom: -8px;
  width: 100%;
}/*# sourceMappingURL=header.css.map */